@import url("https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto");

:root {
  --main-color: #3347ad;
  --card-color: #f9f9f9;
  --card-border: #e5e5e5;
}

body {
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

#heading {
  width: 100%;
  height: 80px;
  background: var(--main-color);
  color: #fff;
  display: flex;
  align-content: center;
  justify-content: center;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.font-size-22 {
  font-size: 22px;
}

.font-size-11 {
  font-size: 11px;
}

.card {
  background: var(--card-color);
  width: 400px;
  height: 600px;
  margin: auto;
  margin-top: 25px;
  border: 1px solid var(--card-border);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.currency-input {
  background-color: #fff;
  width: 90%;
  height: 100%;
  border: 1px solid var(--card-border);
  margin: auto;
  display: flex;
  justify-content: flex-end;
  font-size: 22px;
  
}


ul{
  max-height: 200px;
  overflow-y: auto;
  max-width: 179px;
  overflow-x: hidden;
}

.currency-input:hover{
    cursor: pointer;
}
.currency-select {
  border: 1px solid var(--main-color);
  background-color: #fff;
  width: 70%;
  height: 100%;
  display: flex;
}
.currency-select-text{
    margin: auto;
}
#heading-text{
    margin:auto;
}
.currency-select:hover {
  opacity: 0.8;
  cursor: pointer;
}
p {
  color: var(--main-color) l;
  margin: 0px;
}

.currency-text {
  font-size: 18px;
  margin: auto;
  display: flex;
  justify-content: center;
  color: var(--main-color);
}

.currency {
  width: 90%;
  height: 60px;
  margin: auto;
  display: flex;
}
.currency-row {
  display: flex;
  justify-content: center;
  align-content: center;
}

select{
    width: 100%;
    border: none;
      /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

select::-ms-expand {
    display: none;
}

/* Material style */
button {
  border-radius: 4px;
  width: 120px;
  height: 50px;
  border: none;
  cursor: pointer;
  color: white;
  background: var(--main-color);
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  outline: none;
}

/* Ripple magic */
button {
  position: relative;
  overflow: hidden;
}

#convert-button{
    margin-top: 20px;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(134, 148, 214, 0.5);
  opacity: 0;
  border: none;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

button:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}
